@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Syne+Tactile&display=swap');

body{
    text-align: justify;
    margin: 0;
    background-color: #C4EcD4;
    font-family:'Patrick Hand', 'Josefin Slab', sans-serif;
    color: white;
}
*{
    box-sizing: border-box;
}
#kerdes{
    font-weight: normal;
    font-size: x-large;

}


main{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas:
    "n n"
    "h h"
    "h h"
    "ar ar"
    "f f"
    "f f"
    "f f";

}
header{
    grid-area:h;
    background: url(./galeria/teknos.jpg);
    background-repeat:no-repeat;
    height: 500px;
    background-position: 50% 50%;
}
nav{
    grid-area: n;
    background-color: #11BBD1;
    height: 50px;
}
nav li{
  display: inline-block;
  margin: 0px; 
}
nav li a{
  display: inline-block;
  text-decoration: none;
  text-align: right;
  padding: 0 0.4em;
  color: white;
}
nav ul{
  margin: 15px 0 0 10px;
}
.gomb{
  display: inline-block;
  text-decoration: none;
  color: white;
}
.Title1, .Title2{
  text-align: center;
  padding: 0px;
  
}
article{grid-area:ar;
    height: 300px;
    background-color: white;
    color:black;
    height: auto;
    padding: 30px;
}
footer{
    grid-area: f;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "c1 c2 c3"
    "c4 c4 c4";
    margin: 0 auto 0 auto;
    grid-gap: 10px;
    width: 50%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    grid-area: c1;
    border: 2px solid none;
    border-radius: 12px;
    background-color: #11BBD1;
    width: 100%;
    height: 200px;
    padding-top: 50px;
    text-align: center;
    font-size: xx-large;
    
  }
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    grid-area: c2;
    border: 2px solid none;
    border-radius: 12px;
    background-color: #066672;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    font-size: xx-large;
    
  }
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    grid-area: c3;
    border: 2px solid none;
    border-radius: 12px;
    background-color: #30A0AD;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    font-size: xx-large;
    
  }
  .card4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    grid-area: c4;
    border: 2px solid none;
    border-radius: 12px;
    background-color: #30A0AD;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    margin: auto;
    text-align: center;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 16px;
    
  }
 
  .text{
    text-align: left;
    padding-top: 250px;
    padding-left: 50px;
  }
  .kerdesek{
    text-align: justify;
  }
  .focim{
    text-align: center;
    width: 60%;
    float: left;
    display: block;
  }
  .szerzo{
    text-align: center;
    width: 60%;
    float: left;
    display: block;
  }

  div.row {  
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;

  }
  div.row2 {  
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
    

  }
  /* Create two equal columns that sits next to each other */
  div.column {
    /*
    
    a div.column elemeket kéne egymás mellé tenni. ezeket bele kell tenni egy szülőelembe.
    És a szülőelem lesz a tároló container.
    Tehát a szülőelemre kell kiadnod a display:flex; flex-wrap:wrap;  parancsokat. és a div.column elemekre pedig a flex: 0 0 30%;
    
    */
    /*flex: 45%;*/
    
    max-height: 420px;
    padding: 0 4px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    background-color: #c4ecd4;
  }
  
  div.column img {
    width: 100%;
    height: 50%;
    height: auto;
    border: 10px solid white ;
  }

  div.cikk {  
    padding: 0 4px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    border: 10px solid #c4ecd4 ;
  }

  div.cimkep{
    width: 35%;
    float: right;
    display: block;
    text-align: right;
    margin: auto auto auto auto;
  }
 
  /*Galériás on*/

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /*  */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* animáció */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* X */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #eeeeedf3;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }






  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* kövi , vissza gomb */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* lapozó szám */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
    
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

#nem{
  display: none;
}


  
  /* Mobilnézeten 100%-os kép */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
    .h1,.h2{
      text-shadow: black;
    }
  }



  /*Galériás off*/

  @media screen and (max-width: 1400px){
      footer{
        margin: 0 auto 0 auto;
      }
  }
  @media screen and (max-width: 1300px){
    footer{
        grid-template-columns: 1fr;
        grid-template-areas:
            "c1"
            "c2"
            "c3"
            "c4";
        width: 100%;
    }
    .card {
        font-size:large;
      }
      .card2 {
        font-size:large;
      }
      .card3 {
        font-size:large;
      }
    }